.links>button{
    text-decoration: none;
}
.highlighted{
    background-color: #b8d0e7!important;
    border: 1px solid #b8d0e7!important;
    color: white;
  }
  .highlight-menu{
    text-decoration: underline!important;
    font-weight: 700;
    color: black!important;
    outline-color: rgb(126, 107, 107);
  }
  .btn-link {
    font-weight: 400;
    color: grey;
    font-weight: 600;
  }